
.satisfied.dark {
    background-color: rgb(128, 128, 128, 0.4);
    .name-container {
        text-decoration: whitesmoke line-through;
    }
}

.satisfied.light {
    background-color: rgb(128, 128, 128, 0.4);
    .name-container {
        text-decoration: black line-through;
    }
}

input {
    background-color: transparent;
}

.dark {
    input {
        color: whitesmoke;
    }
}

input:focus {
    outline: none;
}



.item-container {
    display: flex;
    max-width: max-content;
    width: 100%;
    position: relative;
}

.property-container {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        //font-size: 2vw;
    }
}

.checkbox-container {
    width: 3rem;
}

.name-container {

    border-left: none;

    & input {
        width: 30vw;
        border: none;
        background: transparent;
    }

    @media screen and (min-width: 600px) {
        & input {
            width: 50vw;
            text-align: center;
        }
    }
}

.amount-container {
    border-left: none;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
        text-align: center;
        border: none;
        padding: 0;
        box-sizing: border-box;
        background: transparent;
        width: 3rem;
    }
}
