.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    & input {

    }
}

.index-container {
    width: 80%;
    margin: 0 auto;
}
