.list-heading {
    margin: 0;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;

    & input {
        border: none;
        text-align: center;
        max-width: 30vw;
        min-width: 10vw;
        &:focus {
            outline: none;
        }

        border-bottom: solid thin black;
    }
}

.dark {
    input {
        border-color: whitesmoke;
    }
}

.hidden-button {
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

.edit-button {
    margin-left: 1rem;
}

.control-buttons {
    position: relative;
    float: right;
    margin-bottom: 0.5rem;
    display: flex;
}

.svg-button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    & svg {
        height: 24px;
        width: 24px;
    }

    &:hover {
        cursor: pointer;
    }
}

.delete-button {
    position: absolute;
    right: -2rem;
    top: 0.4rem;

    &:hover {
        cursor: pointer;
    }
}

.content-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 60vw;
}


.shoppinglist-detail-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    height: 8rem;
    aspect-ratio: 1/1;
    * {
        transition: 0s;
    }
}
